<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include ('partials/head')%>
  <title><%= title%></title>
</head>
<body>
  <%- include ('partials/navigation')%>
  <div class="px-4 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/assets/logo.png" alt="" width="72">
    <h1 class="display-5 fw-bold text-body-emphasis">Testimonios de clientes</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Nuestros clientes han experimentado los beneficios de trabajar 
        con InnovateTech Solutions. Aquí tienes algunos testimonios que reflejan la calidad y el 
        impacto de nuestros servicios:</p>
    </div>
  </div>
  <div class="container my-5">
    <div class="row" data-masonry='{"percentPosition": true }'>
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card p-3">
          <figure class="p-3 mb-0">
            <blockquote class="blockquote">
              <p>"La colaboración con InnovateTech Solutions ha sido excepcional. Han superado 
                nuestras expectativas en términos de calidad, tiempo de entrega y atención al cliente".</p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0 text-body-secondary">
              <cite title="Source Title">Empresa XYZ</cite>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card p-3">
          <figure class="p-3 mb-0">
            <blockquote class="blockquote">
              <p> "El equipo de InnovateTech Solutions comprendió perfectamente nuestras necesidades 
                y nos brindó una solución personalizada que ha mejorado nuestra eficiencia operativa de 
                manera significativa".</p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0 text-body-secondary">
              <cite title="Source Title">- Empresa ABC</cite>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card p-3">
          <figure class="p-3 mb-0">
            <blockquote class="blockquote">
              <p> "Recomendaría a InnovateTech Solutions a cualquier empresa que busque soluciones 
                tecnológicas de vanguardia. Su enfoque en la innovación y la calidad es impresionante".</p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0 text-body-secondary">
              <cite title="Source Title">Empresa 123</cite>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card p-3">
          <figure class="p-3 mb-0">
            <blockquote class="blockquote">
              <p>"InnovateTech Solutions ha sido un socio esencial en nuestro viaje tecnológico. Su experiencia y dedicación nos han permitido mejorar nuestra eficiencia y presencia en línea".</p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0 text-body-secondary">
              <cite title="Source Title">Empresa XYZ</cite>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card p-3">
          <figure class="p-3 mb-0">
            <blockquote class="blockquote">
              <p>"Trabajar con InnovateTech ha sido una experiencia transformadora. Sus soluciones a medida nos han ayudado a superar desafíos críticos y a alcanzar nuevos niveles de éxito". </p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0 text-body-secondary">
              <cite title="Source Title">Empresa ABC</cite>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card p-3">
          <figure class="p-3 mb-0">
            <blockquote class="blockquote">
              <p>"Desde el diseño de nuestro sitio web hasta la implementación de sistemas complejos, InnovateTech ha demostrado ser un verdadero líder en el campo de las soluciones tecnológicas. Los recomendamos encarecidamente".</p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0 text-body-secondary">
              <cite title="Source Title">Empresa DEF</cite>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card p-3">
          <figure class="p-3 mb-0">
            <blockquote class="blockquote">
              <p>"InnovateTech no solo entregó soluciones tecnológicas excepcionales, sino que también brindó un servicio al cliente excepcional. Son un equipo confiable y altamente competente".</p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0 text-body-secondary">
              <cite title="Source Title">Empresa GHI</cite>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card p-3">
          <figure class="p-3 mb-0">
            <blockquote class="blockquote">
              <p>"Gracias a InnovateTech, hemos experimentado un crecimiento significativo en nuestros resultados y en la satisfacción de nuestros clientes. Son verdaderos expertos en su campo".</p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0 text-body-secondary">
              <cite title="Source Title">Empresa JKL</cite>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card p-3">
          <figure class="p-3 mb-0">
            <blockquote class="blockquote">
              <p>"InnovateTech Solutions es sin duda el socio que estábamos buscando. Su capacidad para resolver problemas complejos y su compromiso con la excelencia han dejado una impresión duradera en nuestra empresa".</p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0 text-body-secondary">
              <cite title="Source Title">Empresa MNO</cite>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <%- include ('partials/footer')%>
</body>
</html>